

h2 {
	margin-bottom:20px;
}
table.championshipresults,
table.championshipresults td {
	border: 1px solid #000000;
text-align:center;
}
raceoverview{
	
	color:#003366;
}
table {
	margin-bottom:20px;
}
